<div class="container">
  <h1>Welcome</h1>
  <p>Choose a restaurant below to review</p>
  <% @restaurants.each do |restaurant| %>
  <li><%=link_to restaurant.name, restaurant_path(restaurant), class:"restaurant-link" %></li>
  <% end %>


  <p class="pt-3"><%= link_to 'New', new_restaurant_path, class:"btn btn-light" %></p>
</div>
